@model TrainCommander.Models.MailModels
@{
    ViewBag.Title = "Contact";
}
@section head{
    <title>@langage.command</title>
}
<div class="container">
    <div class="containerText">
        <h2>@langage.sucessPay</h2>
        <p>@langage.receiveMailCanPrint</p>
        <button type="button" class="btnAction">@langage.printTicket</button>
    </div>
</div>

